{% extends "layout.html" %}
{% block body %}

    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h1 class="mb-5">Error 404</h1>
                        <h5>The link you requested does not exist.</h5>
                        <br />
                        <button class="btn btn-primary btn-sm" id="homePage" type="button" onclick="window.location.href='/'">Go to Home Page</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
{% endblock %}