{% extends "signin-layout.html" %}
{% block body %}

    <div class="form-floating">
      {% if form.email.errors %}
        {{ form.email(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.email(class="form-control") }}
      {% endif %}
      {{ form.email.label() }}
    </div>

    <div class="form-floating">
      {% if form.password.errors %}
        {{ form.password(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.password(class="form-control") }}
      {% endif %}
      {{ form.password.label() }}
    </div>

    <div class="form-check text-start my-3">
      {{ form.remember(class="form-check-input") }}
      {{ form.remember.label(class="form-check-label") }}
    </div>

    <div class="form-group">
      {{ form.submit(class="btn btn-primary mt-3 w-100 py-2") }}
    </div>

    <div class="text-muted mt-2 mb-4">
      Don't have an account? <a href="{{url_for('signup')}}">Sign Up</a>
    </div>
    <hr>

  {% endblock %}
