{% extends "signinlayout.html" %}
{% block body %}


<main class="form-signin w-100 m-auto">
  <form>

    <img class="mb-4" src="{{url_for('static', filename='assets/img/apple-touch-icon.png')}}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword2" placeholder="Password">
      <label for="floatingPassword">Confirm Password</label>
    </div>


    <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>

    <div class="form-check text-start my-3">
      <div class="form-check-label">
      Already have an account? <a href="/login">Login</a>
      </div>
    </div>
    <hr>

  {% endblock %}


